<h1>アイデア編集</h1>

<%= form_with model: @idea, local: true do |f| %>
  <p>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to "戻る", ideas_path %>
