<div>
  <%= form_with(model: @idea, local: true) do |form| %>
    <div>手動で登録する<br>
      <%= form.label :タイトル %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :内容 %>
      <%= form.text_area :description %>
    </div>
    <button id = "ai-suggestion-btn" type = "button">AIからの提案を受ける</button>
    <div id ="ai-suggestions">
    </div>
    <div>
      <%= form.submit "登録" %>
    </div>
  <% end %>
</div>