<h1><%= @idea.title %></h1>
<p><%= @idea.description %></p>
<%= link_to '編集', edit_idea_path(@idea) %> |
<%= link_to '削除', idea_path(@idea), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<%= link_to '一覧に戻る', ideas_path %>
